[Unit]
Description=mcproxy
After=network.target docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f mcproxy
ExecStart=/usr/bin/docker run --rm --name mcproxy \
  --network=host \
  --cap-add=NET_ADMIN \
  -v /etc/mcproxy/config.json:/config.json:ro \
  ghcr.io/siderocloud/mcproxy:latest
ExecStop=/usr/bin/docker stop mcproxy
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
