[Unit]
Description=mcwatcher
After=network.target docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f mcwatcher
ExecStart=/usr/bin/docker run --rm --name mcwatcher \
  --network=host \
  -v /etc/mcproxy/watcher.json:/config.json:ro \
  -v /var/lib/pterodactyl/volumes:/var/lib/pterodactyl/volumes:rw \
  ghcr.io/siderocloud/mcwatcher:latest
ExecStop=/usr/bin/docker stop mcwatcher
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
